@charset "UTF-8";
@font-face {
	font-family: 'kart-mario';
	src: url('../fonts/RetroMario-Regular.otf') format('opentype');
	font-weigth: normal;
	font-size: normal;
}

@font-face {
	font-family: 'pixel';
	src: url('../fonts/pixelmix.ttf') format('truetype');
	font-weigth: normal;
	font-size: normal;
}


* {
	margin: 0px 0px;
}

:root {
	--color0: black;
	--color1: red;
	--color2: darkred;
	--color3: white;
	--color4: darkgoldenrod;
	--color5: darkgreen;
	--color6: darkorchid;
	--color7: brown;
	--color8: green;
	--color9: orange;
	--color10: rgb(255, 0, 179);
	--color11: burlywood;
	--color12: grey;
	--color13: greenyellow;

	--font-kartmario: kart-mario;
	--font-pixel: pixel;
}

#bio {
	text-align: justify;
	padding-left: 40px;
	padding-right: 40px;
}

#html5 {
	color: var(--color3);
	background-image: linear-gradient(to right, #d86137, #e4733c);
	border-radius: 3px;
	padding: 2px;
	margin: -5px;
}

#css3 {
	color: var(--color3);
	background-image: linear-gradient(to right, #3674b4, #59acdd);
	border-radius: 3px;
	padding: 2px;
	margin: -5px;
}

#pacman {
	color: var(--color4);
}

#zelda {
	color: var(--color5);
}

#animal-crossing {
	color: var(--color2);
}

#splatoon {
	color: var(--color6);
}

#tracing {
	flex-direction: row-reverse;
}

.container {
	background-color: var(--color3);
	box-shadow: 15px 10px 10px #5a575260;
	border-radius: 10px;
	min-width: 320px;
	max-width: 800px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 7px;
}

.main-images {
	display: flex;
	align-items: center;
	background-color: white;
	line-height: 1.5em;
	padding: 0px 0px;
	box-shadow: 15px 10px 10px #5a575260;
	border-radius: 10px;
	margin: 50px;
    height: 270px;
}

.video {
	margin: 0px -20px 30px -20px;
	padding: 20px;
	padding-bottom: 58%;
	position: relative;
}

.video > iframe {
	box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.575);
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
}

.game-list {
	list-style-position: inside;
	list-style-type: "✅ ";
	line-height: 1.5em;
}

.maps-page {
	display: inline-table;
}

.map-image {
	padding: 3px;
	margin: 3px;
	transition: transform 1s ease;
}

.map-image :hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 10px 10px var(--color9);
}

body {
	background-color: rgba(128, 128, 128, 0.336);
}

h3 {
	font-family: var(--font-pixel);
	text-align: center;
	padding: 15px;
	margin-left: 20px;
	margin-bottom: 0px;
}

h4 {
	font-family: var(--font-pixel);
	text-align: left;
	padding: 15px;
	margin-left: 20px;
	margin-bottom: 0px;
}

header {
	background-image: linear-gradient(to bottom, var(--color1), var(--color2));
}

header h1{
	text-align: center;
	text-shadow:4px 4px var(--color8);
	color: var(--color3);
	font-family: var(--font-kartmario);
	font-size: 80px;
}

header nav {
	padding: 10px;
}

nav a {
	color: var(--color3);
	text-decoration: none;
	font-family: var(--font-kartmario);
	font-size: 18px;
	text-shadow:2px 2px var(--color8);
	margin: 0px;
	padding: 7px;
	transition-duration: 0.5s;
}

nav a:hover {
	background-color: var(--color7);
	border-radius: 5px;
}

main h2 {
	background-image: linear-gradient(to right, var(--color2), var(--color1), var(--color3));
	color: var(--color3);
	font-family: var(--font-kartmario);
	font-size: 30px;
	border-radius: 4px;
	margin: 10px 0px;
	padding: 15px;
}

main p {
	font-family: var(--font-pixel);
	font-size: 15px;
	margin: 5px 10px;
	padding: 5px;
	line-height: 1.2em;
	text-align: justify;
}

main a::after {
	content: "🔗";
}

main a {
	text-decoration: none;
	background-image: linear-gradient(to right, var(--color2), var(--color1));
	color: var(--color3);
	padding: 1px;
	border-radius: 5px;
}

main a:hover {
	background-image: linear-gradient(to right, var(--color2), var(--color1), var(--color3));
	text-decoration: none;
	background-color: var(--color1);
	color: var(--color3);
	padding: .2px;
}

section {
	padding: 10px;
}

li {
	font-family: var(--font-pixel);
	font-size: 13px;
	line-height: 1.5em;
	padding-left: 20px;
	padding-right: 30px;
	text-align: justify;
}

img {
	margin: 0px -7px;
	padding: 0px;
	background-color: var(--color3);
	border-radius: 5px;
	width: 380px;
    height: 270px;
}

main > img, p {
	display: inline-block;
}

footer {
	background-image: linear-gradient(to bottom, var(--color1), var(--color2));
	font-family: var(--font-kartmario);
	text-shadow:2px 2px var(--color8);
	margin-top: 50px;
	padding: 5px;
	color: var(--color3);
	text-align: center;
}